.center {
    width: 360px;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

tr.bmi-underweight, .label.bmi-underweight {
    background-color: #FFFB5A;
}

tr.bmi-normal, .label.bmi-normal {
    background-color: #7DE551;
}

tr.bmi-overweight, .label.bmi-overweight {
    background-color: #FFA65A;
}

tr.bmi-obesity, .label.bmi-obesity {
    background-color: #EA160B;
}

.marked {
    background-color: #5764c6 !important;
}

.snackbar {
    background: #efefef;
    border: .1rem solid #eaeaea;
    border-radius: .3rem;
    color: #666;
    display: block;
    padding: 1.4rem;
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    text-align: center; /* Centered text */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.snackbar.success {
    background: #32b643;
    border-color: #30ae40;
    color: #fff;
}

.snackbar.danger {
    background: #e85600;
    border-color: #de5200;
    color: #fff;
}

.snackbar.visible {
    visibility: visible;
    opacity: 1;
}
.snackbar.hidden {
    visibility: hidden;
    opacity: 0;
}